doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Moodle + Sync&Share [BETA]
    // Bootstrap Core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/css/stylish-index.css', rel='stylesheet')
    // Custom Fonts
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
  body
    // Navigation
    a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
      i.fa.fa-bars
    nav#sidebar-wrapper
      ul.sidebar-nav
        a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
          i.fa.fa-times
        li.sidebar-brand
          a(href='#top', onclick='$("#menu-close").click();') Menu
        li
          a(href='#top', onclick='$("#menu-close").click();') Home
        li
          a(href='#login', onclick='$("#menu-close").click();') Login
    // Header
    header#top.header
      .text-vertical-center
        h1 Moodle + Sync&Share
        h3 To infinity... and beyond!
        br
        a.btn.btn-dark.btn-lg(href='#login') Login
    // Login
    section#login.login
      .container
        p
          a(href="/auth/dropbox") Login with Dropbox
        p
          a(href="/login") Login with TUM Shibboleth
        form.form-signin(role="form", action="/fake_login", method="post")
          h2.form-signin-heading Please sign in
          input.form-control(type='text', placeholder='LRZ account', required='', name="username")
          input.form-control(type='password', placeholder='Password', required='', name="password")
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
      // /.container
    // Footer
    footer
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            h4
              strong Moodle + Sync&Share
            p
              | Junge Akademie: TUMcloud
              br
              | Technische Universität München
    // jQuery
    script(src='/js/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/js/bootstrap.min.js')
    // Custom Theme JavaScript
    script.
      // Closes the sidebar menu
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
          $(".header").css("width: 90%");
      });

      // Opens the sidebar menu
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });

      // Scrolls to the selected menu item on the page
      $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                  if (target.length) {
                      $('html,body').animate({
                          scrollTop: target.offset().top
                      }, 1000);
                      return false;
                  }
              }
          });
      });
