doctype html
html
  head
    title Moodle + Sync&Share
    // Bootstrap core CSS
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel="stylesheet", href="/css/custom/user.css")
    // Custom styles for this template
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
  body
    // Fixed navbar
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Moodle + Sync&Share

        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(href='/login') Login
        // /.nav-collapse

    block content