doctype html
html
  head
    title Moodle + Sync&Share
    // Bootstrap core CSS
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/custom/user.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.7.0/bootstrap-table.min.css")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
    // Custom styles for this template
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
    script(src="/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.7.0/bootstrap-table.min.js")
  body
    // Fixed navbar
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") Moodle + Sync&Share

        #navbar.collapse.navbar-collapse.pull-right
          ul.nav.navbar-nav
            li
              p.navbar-text User: #{username} (#{email})
            li
              //- .active?
              a(href="logout")
                span(href="/logout").glyphicon.glyphicon-lock
                | Logout
        // /.nav-collapse

    .container
      .starter-template
        h1 Course overview
        table#table_courses
        .btn-toolar#toolbar_buttons
          button#button_submit.btn.btn-primary Submit
          button#button_refresh_courses.btn.btn-default
            span.glyphicon.glyphicon-refresh
        #alert_area
          .alert.alert-success.collapse.collapse#altert_success
            | <strong>Well done!</strong>
            | You successfully submitted your preferences.
          .alert.alert-danger.collapse.collapse#alert_fail
            | <strong>Oh snap!</strong>
            | There has been an error submitting your preferences.
    // /.container
  script.
    $(document).ready(function() {
      $("#table_courses").bootstrapTable({
        method: "get",
        url: "/json/db",
        clickToSelect: true,
        search: true,
        pagination: true,
        showLoading: true,
        idField: true,
        toolbar: "#toolbar_buttons",
        columns: [{
          field: "id",
          title: "Course ID",
          visible: false,
          searchable: false
        }, {
          field: "name",
          title: "Course name",
          sortable: true,
          visible: true,
          align: "left"
        }, {
          field: "selected",
          title: "selected",
          checkbox: true
        }]
      });
      // Refresh button
      $("#button_refresh_courses").click(function() {
        $("#table_courses").bootstrapTable("refresh");
      });
      // Submit button
      $("#button_submit").click(function() {
        $("#button_submit").prop('disabled', true);
        var selection = $("#table_courses").bootstrapTable("getSelections")
        .map(function(element) {
          return element.id;
        });
        $.ajax({
          url: "/json/db",
          type: "POST",
          data: {selection: JSON.stringify(selection)}
        })
        .done(function(response) {
          fadeAlert($("#altert_success"));
        })
        .fail(function() {
          fadeAlert($("#alert_fail"));
        })
        .always(function() {
          $("#button_submit").prop("disabled", false);
        });
      });
      // Alert fading
      function fadeAlert(alert) {
        alert.fadeIn("fast").delay(3000).fadeOut("slow");
      }
    });